<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mythri Bharat - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        .logo{
            height:7rem;
            width:7rem;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .table th {

            white-space: nowrap; /* Prevents text from wrapping */
        }

        .table td {
            white-space: nowrap; /* Prevents text from wrapping in data cells */
            color: #878787;
        }

        .table {
            width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
        }

        .table th,
        .table td {
            padding: 12px 15px;
            vertical-align: middle;
            text-align: center;
        }


        .table-responsive-xxl {
            padding-bottom: 15px;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center mb-3 mt-5" href="{% url 'home' %}">
                <div class="logo" style="background-image: url({% static 'img/mythri.png' %});"></div>

            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-fw fa-user"></i>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Report</h1>

                    </div>

                    <!-- Content Row -->

                    <!-- Content Row -->

                    <div class="row">

                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Search</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <form method="GET" action="{% url 'report' %}" class="row g-3 mb-4">
                                        <div class="col-md-4">
                                            <label for="zone" class="form-label">Zone</label>
                                            <select name="zone" id="zone" class="form-select form-control">
                                                <option value="">--Select Zone--</option>
                                                {% for z in zones %}
                                                <option value="{{ z.zone_id }}" {% if z.zone_id == zone %}selected{% endif %}>{{ z.zone_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="region" class="form-label">Region</label>
                                            <select name="region" id="region" class="form-select form-control">
                                                <option value="">--Select Region--</option>
                                                {% for r in regions %}
                                                <option value="{{ r.region_id }}" {% if r.region_id == region %}selected{% endif %}>{{ r.region_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="area" class="form-label">Area</label>
                                            <select name="area" id="area" class="form-select form-control">
                                                <option value="">--Select Area--</option>
                                                {% for a in areas %}
                                                <option value="{{ a.area_id }}" {% if a.area_id == area %}selected{% endif %}>{{ a.area_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                            <a href="{% url 'report' %}" class="btn btn-secondary">Reset</a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                        <!-- Pie Chart -->

                    </div>

                  <div class="row">

                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Units</h6>
                                     <button id="download-pdf" class="btn btn-primary">Download PDF</button>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% if units %}
                                  <div id="table-container" class="table-responsive">
                                    <table id="my-table" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sr No</th>
                                                <th scope="col">Affliation No</th>
                                                <th scope="col">Unit Name</th>
                                                <th scope="col">Zone</th>
                                                <th scope="col">Region</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Created by</th>
                                                <th scope="col">Members</th>
                                                <th scope="col">Created on</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for unit in units %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>
                                                        {{ unit.affliation_number }}
                                                    </td>
                                                    <td>{{ unit.unit_name }}</td>
                                                    <td>{{ unit.zone.zone_name }}</td>
                                                    <td>{{ unit.region.region_name }}</td>
                                                    <td>{{ unit.area.area_name }}</td>
                                                    <td>{{ unit.created_by.user_first_name }}</td>

                                                    <td>{{ unit.total_members }}</td>
                                                    <td>{{ unit.created_at }}</td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                  </div>
                                    {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        No units found.
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <!-- Pie Chart -->

                    </div>

                    <!-- Content Row -->


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; MYTHRI 2024. Designed by <a href="https://empireae.in/">Empire AE</a> </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

    <script>
        document.getElementById('download-pdf').addEventListener('click', function () {
            const element = document.getElementById('table-container');
            html2pdf(element, {
                margin: 0.2,
                filename: 'report.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'a3', orientation: 'landscape' }
            });
        });
    </script>
<!--    <script>-->
<!--    document.getElementById("downloadBtn").addEventListener("click", function () {-->
<!--        var table = document.getElementById("unitsTable");-->
<!--        if (!table) return; // Check if the table exists-->

<!--        var csv = [];-->
<!--        var rows = table.querySelectorAll("tr");-->

<!--        for (var i = 0; i < rows.length; i++) {-->
<!--            var row = [], cols = rows[i].querySelectorAll("td, th");-->
<!--            for (var j = 0; j < cols.length; j++) {-->
<!--                row.push(cols[j].innerText);-->
<!--            }-->
<!--            csv.push(row.join(",")); // Join columns with a comma-->
<!--        }-->

<!--        // Create a CSV file-->
<!--        var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });-->
<!--        var downloadLink = document.createElement("a");-->
<!--        downloadLink.href = URL.createObjectURL(csvFile);-->
<!--        downloadLink.download = "units_report.csv"; // Filename-->

<!--        document.body.appendChild(downloadLink);-->
<!--        downloadLink.click(); // Trigger download-->
<!--        document.body.removeChild(downloadLink); // Clean up-->
<!--    });-->
<!--</script>-->
</body>

</html>